extends ../layout.pug 

block metadata 
  title Fotaza - Iniciar Sesión
  link(rel="stylesheet", href="/login.css")

block content
  h1 Iniciar Sesión
  //- Acá irá el formulario de login más adelante