extends ../layout

block content
  include ../mixins/alert
  
  +alert(alert)
  div.container
    div.form-wrapper
      h1 Iniciar sesión
      form(method='POST', action='/auth/login')
        div.form-group
          label(for='email') Email
          input(type='email', id='email', name='email', required, value=formValues ? formValues.email : '')
        
        div.form-group
          label(for='password') Contraseña
          input(type='password', id='password', name='password', required, value=formValues ? formValues.password : '')
        
        div.form-group.center
          button(type='submit') Ingresar
        
        p.redirect-link
          | ¿No tienes cuenta? 
          a(href='/auth/signup') Regístrate aquí