doctype html
html(lang="es")
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles.css")
    block metadata

  body
    header
      nav
        .nav-logo
          a(href='/') 📸 Fotaza

        .nav-search
          form(action="/" method="GET")
            input(type="text", name="search", placeholder="Buscar fotos o etiquetas...")
            button(type="submit")
              img(src="/images/lupa.png", alt="Buscar", class="search-icon")

        .nav-links
          a(href='/auth/login') Iniciar Sesión
          a(href='/auth/signup') Registrarse
          a(href='/posts/new') Subir Foto
          a(href='/profile/myProfile') Mi Perfil

    main

      block content

    footer
      p &copy; #{new Date().getFullYear()} Fotaza - Proyecto Integrador