mixin nav
  header 
    nav.navbar
      
      div.nav-brand
        a(href="/") Fotaza
        
      div.nav-search
        form(action="/posts" method="GET", class="search-form")
          input(type="text" name="search" placeholder="Buscar por título, etiqueta o @usuario...", value=searchQuery)
          button(type="submit", class="search-btn")
            img(src="/images/lupa.png", alt="Buscar", class="search-icon")

      div.nav-links
        ul
          if currentUser
            li
              a(href="/posts/new") Subir Foto
            li
              a(href="/profile") @#{currentUser.username}
            li
              form(action="/auth/logout", method="POST", class="logout-form")
                button(type="submit", class="btn-logout") Cerrar Sesión
          else
            li
              a(href="/auth/login") Iniciar Sesión
            li
              a(href="/auth/signup") Registrarse